.header {
    height: 80px;
    width: 1145px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav.header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

nav.header a:hover {
    color: orange;
}

.userInfo{
    margin-left: 15px;
}